<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand">WHOIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {{#link-to "index" class="nav-link"}} Home {{/link-to}}
                </li>
                <li class="nav-item">
                    {{#link-to "whois_search" class="nav-link"}} Search {{/link-to}}
                </li>

            </ul>


            <form action="{{href-to 'whois_search'}}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" name="query" value="{{query}}" placeholder="yourdomain.com" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0 form-control" type="submit">Search</button>
            </form>
        </div>
    </nav>

</header>
<main role="main" class="container-fluid pt-5">
    {{outlet}}
</main>