<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand">WHOIS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    {{#link-to "index" class="nav-link"}} Home {{/link-to}}
                </li>
                <li class="nav-item">
                    {{#link-to "whois_search" class="nav-link"}} Search {{/link-to}}
                </li>

            </ul>


        </div>
    </nav>
</header>

<main role="main" class="container-fluid pt-5">
    {{outlet}}
</main>