{{outlet}}

<!-- Begin page content -->
<h1 class="mt-5">Welcome!</h1>

<h4>About</h4>
<p>This is an Ember app to query my favorite whois api.</p>

<h4>Useful links</h4>
<ul>
	<li><a href="https://github.com/brunochucky">github.com/brunochucky</a></li>
	<li><a href="http://emberjs.com/guides">emberjs.com/guides</a></li>
	<li><a href="https://github.com/intercom/ember-href-to">github.com/intercom/ember-href-to</a></li>
</ul>
