{{outlet}}
<!-- Begin page content -->
<h1 class="mt-5">Search</h1>

<form data-ajax="false" action="{{href-to 'whois_search'}}" method="get" class="form-inline mb-5">

    <input type="text" name="query" value="{{query}}" placeholder="yourdomain.com" class="form-control mr-sm-2 mb-2"> {{button-submit text="Search"}}


</form>

<p id="info"></p>